{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@wemake-services/eslint-config-javascript",
      "plugin:@wemake-services/eslint-config-typescript"
    ]
  }